<section class="why" aria-labelledby="why-title">
  <div class="container">
    <div class="why-kicker small-1">{{ 'aboutUs.why.kicker' | translate }}</div>
    <h2 id="why-title" class="why-title headline-1">{{ 'aboutUs.why.title' | translate }}</h2>

    <div class="content-wrapper">
      <div class="text-content">
        <div class="why-body body-1">
          <p>{{ 'aboutUs.why.p1' | translate }}</p>
          <p>{{ 'aboutUs.why.p2' | translate }}</p>
        </div>

        <ul class="why-list strong-1" [attr.aria-label]="'aboutUs.why.list.aria' | translate">
          <li>{{ 'aboutUs.why.list.0' | translate }}</li>
          <li>{{ 'aboutUs.why.list.1' | translate }}</li>
          <li>{{ 'aboutUs.why.list.2' | translate }}</li>
          <li>{{ 'aboutUs.why.list.3' | translate }}</li>
        </ul>
      </div>

      <div class="video-content">
        @if (videoUrl) {
          <div class="video-embed">
            <iframe 
              width="100%" 
              height="100%" 
              [src]="videoUrl" 
              [title]="'aboutUs.why.videoTitle' | translate" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen>
            </iframe>
          </div>
        }
      </div>
    </div>
  </div>
</section>


