<section class="spotlight" aria-labelledby="spotlight-title">
  <div class="container">
    <article class="spotlight-card" (click)="openArticle()" [style.background-image]="'url(' + spotlightArticle.image + ')'">
      <div class="spotlight-overlay"></div>
      <div class="spotlight-content">
        <span class="spotlight-category small-1">{{ spotlightArticle.category }}</span>
        <h1 id="spotlight-title" class="spotlight-title headline-1">{{ spotlightArticle.title }}</h1>
        <p class="spotlight-date body-2">{{ spotlightArticle.date }}</p>
      </div>
    </article>
  </div>
</section>

