<section id="why-us" class="why-us">
  <div class="why-us-container">
    <div class="why-us-content">
      <!-- Image on Left -->
      <div class="why-us-image">
        <picture>
          <source media="(max-width: 768px)" srcset="images/why-us.jpg" />
        <img src="images/why-us.jpg" [attr.alt]="'home.whyUs.imageAlt' | translate" class="content-image" />
        </picture>
      </div>

      <!-- Text Content on Right -->
      <div class="why-us-text">
        <h2 class="why-us-title headline-1">
          {{ 'home.whyUs.titleLine1' | translate }} <br class="mobile-break" />{{ 'home.whyUs.titleLine2' | translate }}
        </h2>
        <div class="why-us-description body-1">
          <p>{{ 'home.whyUs.p1' | translate }}</p>
          <p>{{ 'home.whyUs.p2' | translate }}</p>
          <p>{{ 'home.whyUs.p3' | translate }}</p>
          <p>{{ 'home.whyUs.p4' | translate }}</p>
          <ul class="why-us-list">
            <li>
              <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
              {{ 'home.whyUs.bullets.strength' | translate }}
            </li>
            <li>
              <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
              {{ 'home.whyUs.bullets.energy' | translate }}
            </li>
            <li>
              <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                <polyline points="20 6 9 17 4 12"></polyline>
              </svg>
              {{ 'home.whyUs.bullets.wellbeing' | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
