<section id="transformations" class="transformations">
  <div class="transformations-container">
    <div class="transformations-header">
      <h2 class="transformations-title headline-1">Our approach, explained by our trainers and clients</h2>
      <p class="transformations-subtitle body-1">See what's possible when you commit to your goals</p>
    </div>
    
    <div class="transformations-grid">
      <div class="video-item" *ngFor="let video of videos">
        @if (video.safeVideoUrl) {
          <div class="video-embed">
            <iframe 
              width="100%" 
              height="100%" 
              [src]="video.safeVideoUrl" 
              title="Client Testimonial Video" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen>
            </iframe>
          </div>
        }
      </div>
    </div>
  </div>
</section>

