<section id="transformations" class="transformations">
  <div class="transformations-container">
    <div class="transformations-header">
      <h2 class="transformations-title headline-1">{{ 'programs.transformations.title' | translate }}</h2>
      <p class="transformations-subtitle body-1">{{ 'programs.transformations.subtitle' | translate }}</p>
    </div>
    
    <div class="transformations-grid">
      <div class="video-item" *ngFor="let video of videos">
        @if (video.safeVideoUrl) {
          <div class="video-embed">
            <iframe 
              width="100%" 
              height="100%" 
              [src]="video.safeVideoUrl" 
              [title]="'programs.transformations.videoTitle' | translate" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              allowfullscreen>
            </iframe>
          </div>
        }
      </div>
    </div>
  </div>
</section>

