/* Overrides for hosting under https://site.com/staging/ */
:root {
  --hero-bg-desktop: url('/staging/images/hero-2.png');
  --hero-bg-mobile: url('/staging/images/hero-2-mobile.png');
  
  /* Weight Loss & Muscle Mass Program Images */
  --weight-loss-hero-desktop: url('/staging/images/hero-weight-loss-muscle-mass.png');
  --weight-loss-hero-mobile: url('/staging/images/hero-weight-loss-muscle-mass-mobile.png');
  --weight-loss-card: url('/staging/images/hero-weight-loss-muscle-mass-card.png');
  --weight-loss-about: url('/staging/images/weight-loss-muscle-mass-2.png');
  --weight-loss-analysis: url('/staging/images/weight-loss-muscle-mass-3.png');
  --jeroen-marre-before: url('/staging/images/jeroen-marre-before.png');
  --jeroen-marre-after: url('/staging/images/jeroen-marre-after.png');
  --reza-before: url('/staging/images/reza-before.png');
  --reza-after: url('/staging/images/reza-after.png');
  
  /* Methods Page Images */
  --methods-hero: url('/staging/images/hero-methods.png');
  --methods-hero-mobile: url('/staging/images/hero-methods-mobile.png');
  
  /* About Us Page Images */
  --about-us-hero: url('/staging/images/hero-about-us-3.png');
  --about-us-hero-mobile: url('/staging/images/hero-about-us-3-mobile.png');
  --carlos-torres: url('/staging/images/carlos-torres.png');
  --carlos-torres-mobile: url('/staging/images/carlos-torres-mobile.png');
  --niels-greven: url('/staging/images/niels-greven.png');
  --niels-greven-mobile: url('/staging/images/niels-greven-mobile.png');
  --dennis-bakker: url('/staging/images/dennis-bakker.png');
  --dennis-bakker-mobile: url('/staging/images/dennis-bakker-mobile.png');
  --izabela-gasparovic: url('/staging/images/izabela-gasparovic.png');
  --izabela-gasparovic-mobile: url('/staging/images/izabela-gasparovic-mobile.png');
  
  /* Programs Page Images */
  --programs-hero: url('/staging/images/hero-programs.png');
  --programs-hero-mobile: url('/staging/images/hero-programs-mobile.png');
  
  /* Vitality & Longevity Page Images */
  --vitality-longevity-hero: url('/staging/images/hero-vitality-longevity.png');
  --vitality-longevity-hero-mobile: url('/staging/images/hero-vitality-longevity-mobile.png');
  --vitality-longevity-card: url('/staging/images/hero-vitality-longevity-card.png');
  
  /* Peak Performance Page Images */
  --peak-performance-hero: url('/staging/images/hero-peak-performance.png');
  --peak-performance-hero-mobile: url('/staging/images/hero-peak-performance-mobile.png');
  --peak-performance-card: url('/staging/images/hero-peak-performance-card.png');
}


