<section class="story" aria-labelledby="story-title">
  <div class="container">
    <div class="story-grid">
      <div class="story-text">
        <div class="story-kicker small-1">{{ 'aboutUs.story.kicker' | translate }}</div>
        <h3 class="story-heading headline-2">{{ 'aboutUs.story.heading' | translate }}</h3>
        <div class="story-body body-1">
          <p>{{ 'aboutUs.story.p1' | translate }}</p>
          <p>{{ 'aboutUs.story.p2' | translate }}</p>
          <p>{{ 'aboutUs.story.p3' | translate }}</p>
          <p>{{ 'aboutUs.story.p4' | translate }}</p>
        </div>
      </div>

      <div class="story-media" aria-hidden="true">
        <picture>
          <source media="(max-width: 768px)" srcset="images/team.jpg" />
        <img src="images/team.jpg" [attr.alt]="'aboutUs.story.imageAlt' | translate" class="story-image" />
        </picture>
      </div>
    </div>
  </div>
</section>


